* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    scroll-behavior: smooth;

}

.logo {
    display: block;
    width: 109px;
    margin: 0 auto;

}

h2 {
    margin: 3px 10px 0 0;
    padding: 10px 1px 1px 1px;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    background: url("https://cdn.pixabay.com/photo/2019/11/07/20/48/cinema-4609877_1280.jpg");
    background-size: cover;
    background-position: center;
}

.wrapper {
    position: absolute;
    width: 400px;
    background-color: #212121;
    opacity: 0.9;
    font-style: inherit;
    border: 2px solid transparent;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.wrapper .form-box {
    width: 100%;
    padding: 35px;
}

.wrapper .form-box h2 {
    font-size: 30px;
    font-weight: 500;
    color: white;
    text-align: center;
}

.wrapper .form-box p {
    font-size: 15px;
    color: white;
    text-align: center;
    font-weight: 400px;
}

.btn1 {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgba(255, 255, 255, 0.27);
    padding: 5px 2px 10px 0;
    font-size: 14px;
    color: white;
    font-weight: 80;
    border-radius: 15px;
    cursor: pointer;
}

.btn1:hover {
    background-color: rgba(255, 255, 255, 0.47);
}

input {
    width: 100%;
    height: 2px;
    padding: 14px 20px 14px 20px;
    border-radius: 24px;
    border: 0.5px solid whitesmoke;
    background: transparent;
    color: white;
}

.form{
    width: 100%;
    opacity: 100px;
    margin: 10px 2px 1px 0;
    font-size: 18px;
    font-weight: 500;
}

.form label {
    transform: translateX(-50%);
    font-weight: 500;
    font-size: 18px;
    pointer-events: none;
    transition: 0.6s;
    margin: 0 0 10px 0;
    padding: 0 0 10px 0;
    
}
::placeholder {
    font-size: 14px;
    font-weight: 400;
    width: 148px;
    letter-spacing: 0.2px;
}

.form {
    font-size: 15px;
    color: white;
    font-weight: 2px;
    padding: 10px
}

.form input {
    color: white;
    font-size: 20px;
    padding: 12px 5px 13px 12px;
}

.login-register a {
    color: white;
    font-size: 16px;
    font-weight: 400;
    margin: 20px 10 400px 0;
    align-items: center;
}

.login-register a:hover {
    text-decoration: underline;
    color: rgb(58, 58, 218);
    transition: 0.5s;
}

.btn1{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.2px;
}
.atau{
    font-size: 12px;
    font-weight: 500;

}

.btn2 {
    width: 100%;
    height: 22px;
    padding: 30x 500px 20px;
    background-color: rgba(255, 255, 255, 0.07);
    outline: none;
    color: white;
    border-radius: 30px;
    border: 0.1px solid whitesmoke;
    background: transparent;
    font-size: 16px;
    font-weight: 600;
}

.btn2:hover {
    background: tomato;
}