@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Londrina+Solid:wght@100;300;400;900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}
:root {
  --text-color: rgba(255, 255, 255, 0.7);
  --text-color-dark: rgb(46, 44, 44);
  --main-color: rgb(255, 255, 255);
  --dark-bg-color: rgb(21, 38, 44);
  --button-color: rgb(20, 20, 160);
}
body {
  background: var(--dark-bg-color);
}
.container {
  display: flex;
  background-color: var(--dark-bg-color);
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 100px;
  margin-left: 100px;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: -0px;
  gap: 8px;
}
.logo img {
  width: 50px;
  margin-top: -25px;
}
.logo h1 {
  color: var(--main-color);
  font-size: 50px;
  margin-bottom: 25px;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.nav-link {
  display: flex;
  align-items: center;
}
.nav-link ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.nav-link li {
  margin-right: 30px;
  font-size: 20px;
  font-weight: 300;
  margin-right: 100px;
}
.nav-link a {
  color: var(--main-color);
  text-decoration: none;
}
.nav-link a:hover {
  color: var(--text-color);
}
.content img {
  width: 70px;
  height: 60px;
  border-radius: 60px;
  color: var(--main-color);
  margin-left: 30em;
  cursor: pointer;

}

.hero {
  background: url("/html/harisenin img src/img 103.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 88vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-content {
  text-align: start;
  color: var(--main-color);
  width: 50%;
  background: rgba(0, 0, 0, 0.2);
  position: absolute;
  left: 100px;
  bottom: 50px;
  padding: 20px;
  border-radius: 20px;
}

.hero-content h1 {
  font-size: 45px;
  color: rgb(229, 225, 225);
  margin-bottom: 10px;
  font-weight: 800;
  letter-spacing: 3px;
}
.hero-content p {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 30px;
  letter-spacing: 2px;
  line-height: 20px;
}
.hero-content .btn {
  background-color: var(--button-color);
  color: var(--main-color-);
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
}
.hero-content .btn:hover {
  background-color: var(--text-color);
}
.hero-content a {
  text-decoration: none;
  color: var(--main-color);
  font-size: 14px;
  font-weight: 700;
  margin-left: 10px;
  padding: 10px 20px;
  border-radius: 20px;
  border: 0.5px solid var(--text-color);
}

.hero-content a:hover {
  background-color: crimson;
}


.hero-container i {
  position: absolute;
  font-size: 50px;
  bottom: 30px;
  right: 30px;
  cursor: pointer;
  color: rgb(117, 116, 116);
}

.newepisode{
  position: absolute;
  margin: 0 70px 90px 80px;
  padding: 15px 80px 10px 0;

}

.top10-1{
  position: absolute;
  margin: 0 70px 90px 80px;
  padding: 0 80px 10px 0;
}

.top10-2{
  position: absolute;
    width: 109px;
    margin: 0 70px 0 800px;
    padding: 0 8px 0 0;

}
/* Display Film */
.section-2 {
  margin: 100px auto;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.section-2 h1 {
  color: var(--main-color);
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 30px;
  margin-left: 30px;
}
/* arrow */
span {
  color: rgb(4, 53, 126);
  font-size: 44px;
  font-weight: 500;
  margin-bottom: 30px;
  position: absolute;
  top: 58%;
  cursor: pointer;
  left: 1.5%;
  z-index: 1;
}
span:nth-of-type(2) {
  left: 95.5%;
  text-align: right;
}
/* arrow end */
.movie-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
}
/* dont look up */
.movie-1 .card1 {
  background: url("/html/harisenin img src/image 233.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 302px;
  height: 162px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  color: white;
  font-size: 14px;
}
/* X fast X furious */
.movie-1 .card2 {
  background: url("/html/harisenin img src/image 300.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 162px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  color: white;
  font-size: 14px;
}
/* Blue Lock */
.movie-1 .card3 {
  background: url("/html/harisenin img src/image 305.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 302px;
  height: 162px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 500;
}
/* The devil all the time */
.movie-1 .card4 {
  background: url("/html/harisenin img src/image 235 2.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 302px;
  height: 162px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: end;
  padding: 10px;
  color: rgb(22, 21, 21);
  font-size: 16px;
  font-weight: 500;
}
.movie-2 {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}
.movie-2 img {
  width: 234px;
  height: 365px;
  border-radius: 10px;
}
/* Footer */
footer {
  border-top: 1px solid rgb(87, 85, 85);
}
.footer-container {
  background-color: var(--dark-bg-color);
  color: var(--text-color);
  margin: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-footer {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 8px;
}
.logo-footer h1 {
  color: var(--main-color);
  margin-bottom:15px;
  font-size: 50px;
  font-family: "Londrina Solid", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo-footer img {
  width: 50px;
  margin-top: -20px;
}

.foot-1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.foot-1 h3 {
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: 400;
}
.footer-container h3 {
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 600;
}
.foot-2 {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.menu-list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  align-items: center;
}
.foot-3 {
  color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-container ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.footer-container li {
  margin-bottom: 10px;
  font-size: 14px;
  font-weight: 200;
}
.footer-container a {
  color: var(--text-color);
  text-decoration: none;
}
.footer-container a:hover {
  text-decoration: underline;
}

/* Phone query */
@media (max-width: 480px) {
  .container {
    width: 100%;
    height: 80px;
    display: flex;
    gap: 5px;
  }

    /*Navbar*/
  .navbar {
    width: 100%
    height: 90px;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    padding: 10px;
    margin-left: -10px;
  }
  .logo .text {
    font-size: 30px;
    display: relative;
  }
  .logo img {
    width: 30px;
    height: 30px;
  }
  .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .nav-link li {
    font-size: 10px;
    margin-right: 10px;
  }
  .nav-link a {
    font-size: 10px;
  }
  .hero-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: -100px;
    flex-direction: column;
    gap: 10px;
    width: 100%;
  }
  .content img{
    margin: 0 1px 5px 50px;
    padding:0 5px 7px 5px;
    height: 60px;
    width: 70px;

      }    
      
  .hero-container p {
    display: block;
    margin-right: 100px;
    font-size: 15px;
  }
  .hero-content h1 {
    display: relative;
    font-size: 20px;
    margin: 0 100px 10px 0;
  }
  .hero-content .btn {
    font-size: 12px;
    background-color: var(--button-color);
    color: var(--main-color-);
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    margin: 0 50px 10px 0;
  }
  .hero-content .btn:hover {
    background-color: var(--text-color);
  }
  .hero-content a {
    text-decoration: none;
    color: var(--main-color);
    font-size: 12px;
    font-weight: 800;
    margin: 0 50px 10px 0;
    padding: 10px 20px;
    border-radius: 20px;
    border: 0.5px solid var(--text-color);
  }
  
  .hero-content a:hover {
    background-color: tomato;
  }

  .hero-container i {
    position: absolute;
    font-size: 40px;
    bottom: 20px;
    right: 30px;
    cursor:cell;
    color: rgb(99, 97, 97);
  }

  /*NewTop*/
  .newepisode{
    position: absolute;
    margin: 10px 10px 100px 100px;
    padding: 0 200px 15em 0;
  
  }
  
  .top10-1{
    position: absolute;
    margin: 10px 10px 80px 100px;
    padding: 0 0 15em 10px;
  
  }
  
  .top10-2{
    position: absolute;
      width: 109px;
    
  
}
/*List Film*/
  .section-2 {
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .section-2 h1 {
    color: var(--main-color);
    font-size: 25px;
    font-weight: 500;
    margin-left: -10px;
  }

  /* arrow */
span {
  color: rgb(4, 53, 126);
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 30px;
  position: block;
  top: 58%;
  cursor: pointer;
  left: 1.5px;
  z-index: 1;
}
span:nth-of-type(2) {
  color: rgb(25, 8, 174);
  left: 90%;
  text-align: right;
}
/* arrow end */

/*footer*/
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin: 10px;
    gap: 20px;
  }
  .footer-container h3 {
    margin-bottom: 10px;
    font-size: 26px;
    font-weight: 400;
  }
}

